.main{
  margin-bottom: -8px;
}
form{
  width: 80%;
  margin: -20px auto 25px;
}
span {
	color: red;
	margin-left: 4px;
}
.fieldRow{
 margin-bottom: 20px;
}
button{
  width: 90%;
  margin: 0px auto;
}
