<div class="row formContainer">
  <form id='searchBugForm' class="col-sm-9">
    <div class="row">
      <label class="col-sm-3 nameLable" for="bugName">Bug Name</label>
      <input [(ngModel)]='name' class="form-control col-sm-9" name="bugName" id='bugName'>
    </div>
  </form>
  <div class="col-sm-3">
    <button (click)='searchBug()' class="btn btn-primary btn-block">Search</button>
  </div>
</div>
<div class="main">
  <form class="updateBug" id='updateBug'>
    <div class="row fieldRow">
      <div class="col-sm-6">
        <label for="type">Status</label>
        <select [(ngModel)]='bug.status' name="status" class="form-control" id='status'>
          <option value="NEW">New</option>
          <option value="ASSIGNED">Assigned</option>
          <option value="OPEN">Open</option>
          <option value="FIXED">Fixed</option>
          <option value="PENDING_RETEST">Pending Retest</option>
          <option value="RETEST">Retest</option>
          <option value="REOPEN">Reopen</option>
          <option value="VERIFIED">Verified</option>
          <option value="CLOSED">Closed</option>
          <option value="REJECTED">Rejected</option>
          <option value="DUPLICATE">Duplicate</option>
          <option value="DEFERRED">Deferred</option>
          <option value="NOT_A_BUG">Not A Bug</option>
          <option value="NEED_MORE_INFO">Need More Info</option>
          <option value="COULDNOT_REPRODUCE">Could Not Reproduce</option>
          <option value="WONT_FIX">Wont Fix</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label for="pwd">Developer Id<span>*</span></label>
        <input [(ngModel)]='bug.developerId' maxlength=30 type="text" class="form-control" id='developerid' placeholder="Developer Id" name="developerid" required>
      </div>
    </div>
    <input [(ngModel)]='bug.submittedOn' type="hidden" name="submittedOn" id='submittedOn'>
    <input [(ngModel)]='bug.id' type="hidden" name="bugId" id='bugId'>
  </form>
  <app-view-bugs [bug]="bug"></app-view-bugs>
  <button (click)='updateBug()' class="btn btn-primary btn-lg btn-block">Update</button>
</div>
